*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo::after{
content: "";
position: absolute;
width: 2px;
height: 40px;
top: 0;
right: -10;
background-color: rgb(117, 3, 223);
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
.jumbotron3{
    background-color: cadetblue;
    color: blueviolet;
}
.photoDiv {
      height: 70vh;
      width: 100%;
      background-image: url(../pic/cs-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      z-index: -2;
    }
.card-1 a{
    z-index: 101;
    top: 69%;
    right: 10px;
    
}
.card-1::after{
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(55, 101, 185, 0.329);
    transition: 0.6s;
}
.card-1:hover::after{
    content: "";
    width: 100%;
    height: 100%;
}
.card-1::before{
    content: "";
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: rgba(55, 101, 185, 0.329);
    transition: 0.6s;
}
.card-1:hover::before{
    content: "";
    width: 100%;
    height: 100%;
}
.photoDiv2{
    height: 70vh;
    width: 100vw;
    background-image:url(../pic/asphalt.jpg);
    background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      z-index: -2;
}
.card-2{
    transition: 0.6s;
}
.card-2 p , .card-2 h4{
    z-index: 100;
}
.card-2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 22, 0.623);
    z-index: 10;
    transition: 0.6s;
}
.card-img-overlay{
    transition: 0.6s;
}
.ovel{
    z-index: 15;
    background-image: url(../pic/forspoken.jpg);
    background-size: cover;
    width: 150;
    height: 200px;
    top: 40%;
}
.ovel1{
    z-index: 15;
    background-image: url(../pic/lol.jpg);
    background-size: cover;
    width: 150;
    height: 200px;
    top: 40%;
}
.ovel2{
    z-index: 15;
    background-image: url(../pic/fortnight.jpg);
    background-size: cover;
    width: 150;
    height: 200px;
    top: 40%;
}
.card-2:hover{
    transform: scale(0.9 , 0.9);
}
.card-2:hover  .card-img-overlay{
   padding: 50px;
}
.card-2:hover::after{
      background-color: rgba(1, 1, 22, 0.849);
}
.trapezoid2 {
    top: -33%;
    right: -4%;
  width: 20%;
  height: 165%;
  background-image: url(../pic/gta6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 0% 80%);
}
.trapezoid3 {
    top: 0%;
  width: 20%;
  height: 100%;
  background-image: url(../pic/minecraft.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.trapezoid4 {
    top: -33%;
    right: -4%;
  width: 20%;
  height: 165%;
  background-image: url(../pic/gow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 0% 80%);
}
.pod-p{
    width: 60%;
}
.line{
    width: 120px;
}
.btn-2{
    background-color: rgba(83, 82, 82, 0.753);
    border: 0.1px solid rgb(75, 74, 74) ;
    border-radius: 3px;
    transition: 0.5s;
}
.btn-3{
    background-color: rgba(83, 82, 82, 0.753);
    border: 0.1px solid rgb(75, 74, 74) ;
    border-radius: 3px;
    transition: 0.5s;
}
.btn-2:hover{
    background-color: rgba(0, 0, 255, 0.692);
}
.btn-3:hover{
    background-color: rgb(63, 62, 62);
}
.jumbotron22{
    margin-left: 25%;
}